$phone-up: '(min-width: 450px)';
$tablet-up: '(min-width: 800px)';
$laptop-s-up: '(min-width: 1200px)';
$laptop-m-up: '(min-width: 1600px)';
$desktop-up: '(min-width: 2000px)';

$colour-black: #000;
$colour-good: #5566aa;
$colour-bad: #993355;
$colour-font: #555;
$colour-font-header: #777;
$colour-link-bg: #eff189;
$colour-link-bg-dark: #f1f386;
$colour-link-font: #111;
$colour-link-hover: #666;
$colour-bg-01: #ffecd9;
$colour-bg-02: #f5eddb;
$colour-bg-03: #f7d5a2;
