
<div id="pudding-logo">
  <a href="https://pudding.cool" target="_blank" rel="noreferrer">
    <img inline src="https://pudding.cool/2021/03/wine-model/static/pudding/logo-full.svg"/>
  </a>
</div>
<div id="title-image">
  <img src="https://pudding.cool/2021/03/wine-model/static/grape-math-tree.png" alt='grapevine'>
</div>
<div id="title-text">
  <div id="title-header">
    <h2>Wine & Math</h2>
    <h2>Wine & Math</h2>
    <h2>hidden placeholder element keeping the height</h2>
  </div>
  <h3 id="title-subheader">A Model Pairing</h3>
  <h4><a class="subtle" href="https://pudding.cool/author/lars-verspohl">by Lars Verspohl<a></h4>
</div>

<div id="intro-text">
  <p>
    Mention predictive modeling to the general public and you’re likely to conjure memes of complex mathematical equations swirling. Mention wine, and you get a much different reaction. One can be intimidating, the other inviting. 
  </p>
  <p>
    In this piece, we’re going to try to close that gap. We’ll build a statistical model trying to predict a wine’s quality by its properties. So grab some liquid courage in your favorite aged grape variety and get ready for MATH.
  </p>
</div>

<div class="scroll-arrow">↓<br/><span class="lowlight">scroll</span></div>
