<div class="section section-0 empty">
  {{! empty }}
</div>

<h1>How to describe a wine</h1>

<div class="section section-1">
  <p>
    Before diving into building any predictive model we might want to define what we predict. 
  </p>
  <p>
    In our case, let's note that "wine quality" is a highly imprecise term. “Quality” to a sommelier might mean that a wine has legs and benefits from aeration. “Quality” to you might mean it’s under $10, with a twist off top.
  </p>
  <p>
    A quality predicting model is unlikely to rank every wine out there on a universally approved scale. Our output &mdash; or quality ranking &mdash; needs to be neatly defined and depends on our inputs &mdash; or the wine parameters we’re using to establish a baseline.
  </p>
</div>

<div class="section section-2">
  <p>
    The inputs need to be in the form of measurable information, things like: <a href="https://www.wsetglobal.com/knowledge-centre/blog/2019/june/13/the-definitive-guide-to-wine-bottle-shapes-and-sizes/">the shape of the wine bottle</a>, 
  </p>
</div>

<div class="section section-3">
  <p>
    the vintage year, or the grape varietal.
  </p>
</div>

<div class="section section-4">
  <p>
    In our model, we’ll describe the very liquid and decompose it into its physiochemical properties, like sugars, acids, and yes, alcohol.
  </p>
</div>
