<h1 class="tight-top">What next?</h1>

<div class="section tight-bottom">
  <p>
    Hopefully, this exploration helped make machine learning a little more palatable and showed how technology can be used to rate what’s in your glass.
  <p>
    We used a simple linear model to predict red wine quality using a dataset full physiochemical properties of Vinho Verde wines. As a next step it might be interesting to swap out any or all of these components:
  </p>
  <p>
    <span class="highlight">Output</span>. Our model looked at what properties defined <span class="good">high quality</span> wines, but what happens if instead of quality we wanted to predict specific taste features or sales figures. What inputs get us there?
  </p>
  <p>
    <span class="highlight">Dataset</span>. We looked at one dataset of red wines from Vinho Verde. What happens when we look at datasets from other wineries with different characteristics?
  </p>
  <p>
    <span class="highlight">Model type</span>. We used a linear model, what happens when we use a non-linear model, like <a href="https://en.wikipedia.org/wiki/Support_vector_machine" target="_blank" rel="noreferrer">Support Vector Machines</a> or <a href="https://en.wikipedia.org/wiki/Artificial_neural_network" target="_blank" rel="noreferrer">Neural Networks</a>? Those models might prove more accurate, but could also be overly complex.
  </p>
  <p>
    Maybe for another day...
  </p>
  <p>
    Santé 🍷
  </p>
</div>

<div class="section tight-top" id="credits">
  <p>
    Written with and refined by → <a href="https://pudding.cool/author/jan-diehm/">Jan Diehm</a> ←
  </p>
  <p>
    The dataset and the original model can be found in the paper: <i>P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis. <a href="https://scinapse.io/papers/2103459159" target="_blank" rel="noreferrer">Modeling wine preferences by data mining from physicochemical properties.</a> In Decision Support Systems, Elsevier, 47(4):547-553, 2009</i>. 
  </p>
  <p>
    This paper, however, wasn't the only analytical adventure based on the data. The dataset aquired a life of its own thereafter, being adopted and embraced by the data science and machine learning community, so you can find a lot of analyses out there wrangling and modelling this very dataset.
  </p>
  <p>
    Much thanks to <a href="https://www.linkedin.com/in/shawn-zizzo-109783/" target="_blank" rel="noreferrer">Shawn Zizzo</a> and <a href="https://vinoez.com/" target="_blank" rel="noreferrer">vinoez</a> for kicking this thing off! Big thanks also to Krista Ehrenclou for the most detailed, valuable and wise feedback about all the wine related aspects in particular as well as <a href="https://twitter.com/martgnz" target="_blank" rel="noreferrer">Martin Gonzales</a> and <a href="https://www.behance.net/g-gaborieau-bookatme" target="_blank" rel="noreferrer">Geoffroy Gaborieau</a> for keeping me honest on the visual and design side.
  </p>
</div>