<h1>The data we have</h1>

<div class="section section-29">
  <p>
    We've covered the process in broad, conceptual terms. To build an actual model, we need a real, sizeable dataset with labelled data!
  </p>
</div>

<div class="section section-30">
  <p>
    We’ll use <a href="https://archive.ics.uci.edu/ml/datasets/wine+quality" target="_blank" rel="noreferrer">this dataset</a> of 1,600 wines from Portugal,
  </p>
</div>

<div class="section section-31">
  <p>
    with each row representing a wine
  </p>
</div>

<div class="section section-32">
  <p>
    that received a quality rating, which is based on at least three evaluations from wine experts, ranging from 0 (🥀) to 10 (🏆)
  </p>
</div>


<div class="section section-33 section-34 section-35 section-36 section-37 section-38 section-39 section-40 section-41 section-42">
  <p>
    as well as the wine’s specific physiochemical property values.
  </p>
</div>

<div class="section section-43">
  <p>
    All these wines are red wines from the <a href="https://en.wikipedia.org/wiki/Vinho_Verde" target="_blank" rel="noreferrer">Vinho Verde</a> region in the north west of Portugal. Each wine was analysed, and quality assessed between 2004 and 2007 by the <span class="highlight">Viticulture Commission of the Vinho Verde Region</span>. 
  </p>
  <p>
    The Commission is concerned with guaranteeing the quality and authenticity of regional wines by <a href="https://portal.vinhoverde.pt/pt/estatisticas" target="_blank" rel="noreferrer">certifying</a> the wine's origin and making sure the wine's properties stay within <a href="https://portal.vinhoverde.pt/pt/produtos-regras-de-conformidade/GVT" target="_blank" rel="noreferrer">legislated value ranges</a>. 
  </p>
  <p>
    As such, <span class="highlight">"quality"</span> is indeed defined as a measure of taste but strictly limited to a sample of Vinho Verde wines of a specific period. We should be aware of this context and remember that this data won't generalise to every wine under the sun.
  </p>
</div>

<div class="section no-trigger">
  <p>
    Now that we have the data, we need to get a sense of the base shape and correlations.
  </p>
</div>