<h1>A grown up model</h1>

<div class="section no-trigger">
  <p>
    These are the basics. 
  </p>
  <p>
    For our full model we draw a curve not only for one but for eleven predictors, which is pretty impossible to display in a single visual as you can imagine. 
  </p>
</div>

<div class="section section-61">
  <p>
    One caveat of linear models &mdash; like linear and logistic regression &mdash; is that they model correlation: how things move in the same or in opposite directions. 
  </p>
  <p>
    They won't be able to identify non-linear relationships, like, for example, an Alcohol tipping point before which quality goes up and beyond which quality decreases.
  </p>
  <p>
    So, model selection is a big topic for itself and would be very much worth everyone's while in this case. Apart from potentially higher accuracy, other model types provide further tools that can be useful...
  </p>
</div>

<div class="section section-62">
  <p>
    For example, a model from the <a href="https://en.wikipedia.org/wiki/Random_forest" target="_blank" rel="noreferrer">Random Forest</a> family of machine learning algorithms will enlighten us with a ranking of which variables are most important in our predictions.
  </p>
  <p>
    In this case, Alcohol appears to have the biggest impact on Quality, followed by Volatile Acidity and the amount of sulphates in the wine. 
  </p>
  <p>
    You might disagree with this ranking. That's fine &mdash; numbers can only tell us so much. Your experience or intuition can be used to question the model, add or remove variables. 
  </p>
</div>

<div class="section no-trigger">
  <p>
    But assuming we're happy with this, you can think of each predictor &mdash; each variable in your data &mdash; as a <span class="highlight">model knob</span> you can adjust to achieve the highest quality wine &mdash; in the model's opinion, that is. 
  </p>
</div>

<div class="section section-63">
  {{! empty }}
</div>

<div class="section section-64">
  <p>
    In fact, let's do this now...
  </p>
</div>

<div class="section section-65">
  <p>
    <span class="arrow"></span> This wine over there isn't that great yet. 
  </p>
  <p>
    It's only 5% full &mdash; which means its physiochemical properties indicate only a 5% chance of it being good. This is what you get when taking the average value for each wine property, represented by the vertical line in the distribution chart below.
  </p>
  <p>
    Drag the handle to add or decrease any of the properties in the wine and see how it affects the modelled wine quality.
  </p>
  <p>
    Over to you now to produce a winner &mdash; or a washout... Bottoms up!
  </p>
</div>

