<div id="stories"></div>

<div class='footer-company'>
	<div class='footer-company__about'>
		<img inline src='../../static/pudding/logo-full.svg'>
		<p class='footer-company__description'>
			<a href='https://pudding.cool' target="_blank" rel="noreferrer">The Pudding</a> 
			is a digital publication that explains ideas debated in culture with visual essays.
		</p>
	</div>
	<div class='footer-company__cta'>
		<ul class='footer-company__cta-list'>
			<li>
				<a href='https://facebook.com/pudding.viz/' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/facebook.svg'>
					<p>FACEBOOK</p>
				</a>
			</li>
			<li>
				<a href='https://twitter.com/puddingviz/' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/twitter.svg'>
					<p>TWITTER</p>
				</a>
			</li>
			<li>
				<a href='https://www.instagram.com/the.pudding' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/instagram.svg'>
					<p>INSTAGRAM</p>
				</a>
			</li>
			<li>
				<a href='https://patreon.com/thepudding/' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/patreon.svg'>
					<p>PATREON</p>
				</a>
			</li>
			<li>
				<a href='https://pudding.cool/about' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/info.svg'>
					<p>ABOUT</p>
				</a>
			</li>
			<li>
				<a href='https://pudding.cool/privacy/' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/lock.svg'>
					<p>PRIVACY</p>
				</a>
			</li>
			<li>
				<a href='http://eepurl.com/czym6f' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/mail.svg'>
					<p>NEWSLETTER</p>
				</a>
			</li>
			<li>
				<a href='https://pudding.cool/feed/index.xml' target="_blank" rel="noreferrer">
					<img inline src='../../static/pudding/rss.svg'>
					<p>RSS</p>
				</a>
			</li>
		</ul>
	</div>
</div>